body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal-message {
	background-color: white;
	font-family: 'Roboto Slab';
  color: #2A363B;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
	height: 260px;
	width: 320px;
	border-radius: 5px;
	margin: 150px auto;
	padding: 2%;
	line-height: 20px;
	box-shadow: 0 25px 70px rgba(0, 0, 0, 0.4);
}

.modal-close-button {
  width: 60px;
  height: 25px;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
}

.modal-close-button:hover {
  cursor: pointer;
}



@media only screen and (min-width: 420px) {

  .img-fluid {
    width: 300px;
    height: 225px;
    overflow: hidden;
    object-fit: cover;
  }

  .dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .desk-cards {
    margin: .5em;
    width: auto;
  }

}

@media only screen and (max-width: 420px) {

  .img-fluid {
    width: auto;
    height: auto;
  }

}
